.Layout
  display flex
  padding .5em
  margin .5em
  color-borde(brown)
  flex-direction column
  min-height 100vh
  justify-content space-between
  background-image url('../images/city.jpg')
  background-size cover
  > section
    margin .5em
  &-main 
    display flex
    justify-content space-between
  &-status
    color-borde(green)
    width 200px
  &-battle
    color-borde(orange)
    flex 1
    background-image url('../images/pattern.jpg')
  &-phases
    color-borde(purple)
    position relative
    width 200px
  &-antagonist
    color-borde(aquamarine)
    display flex
    justify-content space-between
  &-player
    color-borde(gray)
    display flex
    justify-content space-between