doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Marvel Card Game
    link(rel="stylesheet", href="./public/css/app.css")
  body
    section(class="Layout")
      section(class="Layout-antagonist") antagonist
      section(class="Layout-main")
        .Layout-status status 
        .Layout-battle batle
        .Layout-phases phases
      section(class="Layout-player") player